// section wrapper start
.process-page__section-wrapper {
  background-color: #414141;
  font-family: 'Roboto';
}

.process-page__first-part {
  padding-left: 280px;
  padding-right: 280px;
}

.process-page__second-part {
  margin-top: 150px;
  position: relative;
  // margin-right: 260px;
  // margin-left: 250px;
}

.process-page__second-part::after {
  content: '';
  position: absolute;
  left: 700px;
  right: 0;
  margin: 0 auto;
  top: 2px;
  width: 710px;
  height: 4px;
  background: #cb6942;
  z-index: 1;
}

.process-page__second-part::before {
  content: '';
  position: absolute;
  left: 700px;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 80px;
  height: 8px;
  background: #cb6942;
  z-index: 2;
}

.process-page__section-box {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// section wrapper end

// title start

.process-page__title {
  padding-top: 160px;
  font-size: 80px;
  position: relative;
  color: #ffffff;
}

.process-page__title::after {
  content: '';
  position: absolute;
  left: -15px;
  bottom: -20px;
  width: 144px;
  height: 4px;
  background: #cb6942;
}

.process-page__title-second {
  padding-top: 80px;
  font-size: 80px;
  position: relative;
  color: #ffffff;
}

.process-page__title-second::after {
  content: '';
  position: absolute;
  left: -55px;
  bottom: -23px;
  width: 144px;
  height: 4px;
  background: #cb6942;
}

// title end

.process-page__icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-page__box-flex {
  display: flex;
}

.process-page__number-one {
  width: 65px;
  height: 108px;
  margin-bottom: 60px;
}
.process-page__number-two {
  width: 94px;
  height: 110px;
  margin-bottom: 60px;
}
.process-page__number-three {
  width: 90px;
  height: 140px;
  margin-bottom: 60px;
}

.process-page__box-text {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

.process-page__info_box {
  display: flex;
  align-items: center;
}

.process-page__box-first,
.process-page__box-second {
  margin-right: 150px;
}

.process-page__svg {
  margin-top: 160px;
}

// box end

// button start

.process-page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 72px;
  background-color: #cb6942;
  color: #ffffff;
  padding: 22.3px 104.5px 22.7px 105.5px;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  margin-top: 72px;
  cursor: pointer;
}

.process-page__button-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 72px;
  background-color: #cb6942;
  color: #ffffff;
  padding: 22.3px 104.5px 22.7px 105.5px;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 117px;
  cursor: pointer;
}

.flex-btn {
  display: flex;
  justify-content: center;
}

// button end

// paragraph start

.process-page__title-description {
  font-size: 18px;
  margin-top: 57px;
  position: relative;
  color: #ffffff;
}

.process-page__paragraph-absolute {
  color: #ffffff;
  position: absolute;
  right: 0;
  display: flex;
  font-size: 18px;
  cursor: pointer;
}

.process-page__paragraph-absolute::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 117px;
  height: 2px;
  background: #ffffff;
}

.process-page__paragraph-plus {
  margin-right: 15px;
}

.process-page__paragraph-plus,
.process-page__paragraph-learn {
  text-decoration: none;
  color: #ffffff;
}

.process-page__read-span {
  display: none;
}

.process-page__read-paragraph.process-page__show-more .process-page__read-span {
  display: inline;
}
// paragraph end
